<div class="sidebar">

  <div class="menu">

    <div class="menu-item" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span class="menu-label">Dashboard</span>
    </div>

    <div class="menu-item">
      <mat-icon>home</mat-icon>
      <span class="menu-label">Home</span>
    </div>

    <div class="menu-item">
      <mat-icon>grid_view</mat-icon>
      <span class="menu-label">Projects</span>
    </div>

    <div class="menu-item" routerLink="/users" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span class="menu-label">Users</span>
    </div>

    <div class="menu-item">
      <mat-icon>apartment</mat-icon>
      <span class="menu-label">Organizations</span>
    </div>

    <div class="menu-item">
      <mat-icon>settings</mat-icon>
      <span class="menu-label">Settings</span>
    </div>

  </div>

</div>